.header,.uppercase {
    text-transform: uppercase;
}
.header {
    color: yellow;
}
.content {
    font-size: 0.5rem;
}
#first {
    color: gold;
}
#second {
    color: silver;
}
.uppercase {
    font-size: 10px;
}
.lowercase {
    text-transform: lowercase;
    color: red;
}