#head1 {
  font-family: "Inter", sans-serif; /* Inter Google font*/
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 3rem;
}
.subhead1 {
  text-align: left;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-left: 30px;
}
ul {
  list-style-type: disc;
}
.paragraph {
  text-indent: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  word-spacing: 0.5px;
  font-weight: bold;
  background: url(https://unsplash.com/photos/73F4pKoUkM0),
    linear-gradient(rgba(0, 0, 0, 0.1), rgba(255, 255, 255, 1)) center/cover
      no-repeat fixed;
}
p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 800px;
}
