.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(rgba(255, 0, 0, 0.418), rgba(0, 0, 255, 0.616)),
    url(./Images/Ocean.jpg);
  background-size: cover;
  color: orange;
  font-size: 30px;
  background-position: center;
  background-attachment: fixed;
}
